/* здесь используйте глобальные переменные */

/* Начертания */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* Брейкпоинты */
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
