.arrow-button {
  width: 37px;
  height: 35px;
  padding: 0;

  @include arrow-button-states;

  &::before {
    width: 14px;
    height: 8px;
    content: "";
    mask-image: url("../../icons/big-arrow-right.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 14px 8px;
    transition: transform 0.2s ease;
  }

  &--prev::before {
    transform: rotate(180deg);
  }
}
