.button {
  @include button-regular;
  @include primary-button-states;

  padding: 20px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
}

.button--big {
  @include button-big;
}
