.header {
  background-color: $color-button-primary;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  max-width: 1440px;
  min-height: 100px;
  margin: 0 auto;
  padding: 15px;

  @media (min-width: $tablet-width) {
    min-height: 82px;
    padding: 20px 45px;
  }

  @media (min-width: $desktop-width) {
    min-height: 126px;
    padding: 32px 120px;
  }
}

.header__burger {
  display: block;
  order: 1;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: $color-text-on-dark; /* #FFFFFF */
  border: none;
  mask-image: url("../../icons/burger.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 26px 26px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__brand {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-end;
  order: 2;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.header__logo {
  display: flex;
  flex-shrink: 0;
  order: 2;
}

.header__logo-image {
  display: block;
  filter: brightness(0) invert(1);
}

.header__nav {
  display: none;
  order: 3;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.header__phone {
  @include title-h6;

  order: 4;
  text-decoration: none;
  white-space: nowrap;
  color: $color-text-on-dark;
}
