.header {
  background-color: $color-blue;
}

.header__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  max-width: 1440px;
  min-height: 100px;
  margin: 0 auto;
  padding: 15px;

  @media (min-width: $tablet-width) {
    min-height: 82px;
    padding: 20px 45px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    min-height: 126px;
    padding: 32px 120px;
  }
}

.header__burger {
  display: block;
  order: 1;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: $color-white;
  border: none;
  mask-image: url("../../icons/burger.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 26px 26px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__brand {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-end;
  order: 2;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: contents;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.header__logo {
  @include logo-states;

  display: flex;
  flex-shrink: 0;
  order: 2;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    position: absolute;
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    margin: 10px 31px 10px 32px;
  }
}

.header__logo-image {
  display: block;
  filter: brightness(0) invert(1);
}

.header__nav {
  display: none;
  order: 3;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
  }
}

.header__phone {
  @include title-h6;
  @include link-states;

  order: 4;
  white-space: nowrap;
}
