.instructor-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  padding: 15px;
  background-color: $color-white;
  outline: 1px solid rgba($color-blue, 0.2);
  outline-offset: -1px;
}

.instructor-card__image-wrapper {
  height: 200px;
  overflow: hidden;
}

.instructor-card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.instructor-card__header {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
}

.instructor-card__name {
  @include title-h7;
  display: block;
  max-width: min-content;
  margin: 0;
  word-break: normal;
  color: $color-text-primary;
}

.instructor-card__vk {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  @include icon-social-states;

  &::before {
    width: 16px;
    height: 16px;
    content: "";
    mask-image: url("../../icons/vk.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
  }
}

.instructor-card__description {
  @include text-xsmall;

  margin: 0;
  color: $color-text-primary;
}
