.link {
  @include button-big;
  @include link-states;

  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.link__icon {
  display: block;
  width: 9px;
  height: 14px;
  background-color: currentcolor;
  mask-image: url("../../icons/arrow-right.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 9px 14px;
}
