.tours {
  padding: 100px 120px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    padding: 40px 45px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    padding: 20px 15px;
  }
}

.tours__container {
  max-width: 1440px;
  margin: 0 auto;
}

.tours__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 19px;
  margin-bottom: 54px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    margin-top: 20px;
    margin-bottom: 35px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-top: 16px;
    margin-bottom: 42px;
  }
}

.tours__title {
  @include title-h3;
  @include title-with-shadow;
}

.tours__controls {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 4px;
  }
}

.tours__slider {
  margin-bottom: 63px;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    margin-bottom: 35px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 35px;
  }
}

.tours__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tours__slide {
  height: auto;
}

.tours__link {
  display: flex;
  gap: 12px;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 110px;
  color: $color-text-primary;

  @media (min-width: $tablet-width) and (max-width: ($desktop-width - 1px)) {
    margin-bottom: 50px;
  }

  @media (max-width: ($tablet-width - 1px)) {
    margin-bottom: 30px;
  }
}
